---
export interface Props {
  delay?: number;
}

const { delay = 300 } = Astro.props;
---

<div class="pl-5 mt-2 text-terminal-green animate-fade-in" style={`animation-delay: ${delay}ms`}>
  <slot />
</div>
